.footer 
  padding-top: 56px
  background: #262626
  &__logo
    position: relative
    height: 20px
    padding-bottom: 40px

  &-info
    position: relative
    margin-top: 32px
    padding-bottom: 48px
    align-items: flex-start
    &__item
      width: 324px
      font-size: 13px
      color: #fff
      p 
        margin-bottom: 28px
        &:last-child
          margin-bottom: 0
  
  &-apps
    padding: 40px 0
    justify-content: center